$images: "../images/admin";

/* 设置高度 */
html, body, #root, .height-full, .brand-section {
    height: 100%;
}

/* 锚点过渡 */
html {
    scroll-behavior: smooth;
}

/* 文字颜色 */
body {
    color: #fff !important;
    background-color: #000 !important;
}
.nav-1 a {
    color: #fff !important;
    text-transform: uppercase;
}

/*放大背景图 */
.brand-section {
    background: url("#{$images}/1125776.jpeg") no-repeat fixed;
    background-size: cover;
}

/* 文字居中 */
.brand-section {
    display: table;
    width: 100%;
    text-align: center;
}
.brand-section-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 100px;
}

.heading {
    padding: 10rem 2rem;
}

.content {
    padding: 5rem 0;
}

#packages {
    background: url("#{$images}/1006121.jpeg") no-repeat fixed;
    background-size: cover;
}

#categories {
    background: url("#{$images}/235613.jpeg") no-repeat fixed;
    background-size: cover;
}

#footer {
    height: 50%;
    background: url("#{$images}/66284.jpeg") no-repeat fixed;
    background-size: cover;
}


input[type=checkbox] {
    transform: scale(1.2);
}

.table-button {
    padding: 1rem;
    display: flex;
    button, a {
        margin-right: 1rem;
    }
}

.light {
    color: #000;
    background-color: #fff;
}
